// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div {
// 	width: 100%;	
// 	.table-one {
// 		display: inline;
// 		width: 40%;
// 		thead {
// 			color: red;

// 		}
// 		tbody {
// 			color: blue;
// 		}

// 	}
	.border {
		border: 1px solid black;
		position: relative;
		top: 63px;
	}
	tbody {
		border: 1px solid black;
	}
	h1 {
		word-spacing: 5px;
	}
	h2 {
		position: relative;
		left: 1210px;
		top: -20px;
		font-size: 15px;
	}
	.list {
		border: 20px solid white;
	}
	.name {
		
		display: block;
		background: #f7f7f7;
		padding-left: 200px;
	}
	.namefirst {
		position: relative;
		top: -270px;
		left: 285px;
	}
	.machine {
		display: block;
		padding-left: 200px;
	}
	.machinefirst {
		position: relative;
		top: -272px;
		left: 285px;
	}
	.material {
		display: block;
		background: #f7f7f7;
		padding-left: 200px;
	}
	.materialfirst {
		position: relative;
		top: -274px;
		left: 285px;
	}
	.finish {
		display: block;
		padding-left: 200px;
	}
	.finishfirst {
	position: relative;
		top: -276px;
		left: 285px;	
	}
	.lead {
		display: block;
		background: #f7f7f7;
		padding-left: 200px; 
	}
	.leadfirst {
		position: relative;
		top: -276px;
		left: 285px;
	}
	.additional {
		display: block;
		padding-left: 200px;
	}
	.additionalfirst {
		position: relative;
		top: -278px;
		left: 285px;
	}
	.sap {
		position: relative;
		top: -210px;
		left: 500px;
	}
	.num {
		position: relative;
		top: -240px;
		left: 775px;
	}
	.rb {
		position: relative;
		top: -270px;
		left: 1050px;
	}
	
.item {
	th {
		padding-left: 70px;
		display: inline;
		color:black;
		text-style: bold;
		text-align: center;
		text-transform: capitalize;
		padding: 20px 20px 50px 200px;
	}
	td {
		color:red;
		padding: 20px;
		
	}
}


.table-two {
	display: block;
	width: 60%;
	thead {
		font-style: italic;
		th {
			text-align: center;
			border: 10px solid black;
		}
	}
	tbody {
		td {
			width: 20%;
			text-align: center;
			border: 10px solid black;
			
		}
	}
}

.description {
	text-align: center;
	width: 100%;
	color: black;
	border-bottom: 1px solid black;
	// padding-left: 9%;
	font-style: bold;
}

.table-three {
	padding-left: 9%;
	width: 100%;
	thead {
		color: blue;
	}
}



